$color-bg-primary: var(--color-bg-primary);
$color-bg-secondary: var(--color-bg-secondary);
$color-font-primary: var(--color-font-primary);
$color-font-secondary: var(--color-font-secondary);
$color-placeholder: var(--color-placeholder);
$color-success: var(--color-success);
$color-danger: var(--color-danger);

$box-shadow-primary: var(--box-shadow-primary);
$box-shadow-primary-light: var(--box-shadow-primary-light);
$box-shadow-secondary: var(--box-shadow-secondary);
$border-radius: var(--border-radius);
$font-size-sm: var(--font-size-sm);
$font-size-md: var(--font-size-md);
$font-size-lg: var(--font-size-lg);
$font-size-lg: var(--font-size-lg);
$font-size-xl: var(--font-size-xl);
$transition-default: var(--transition-default);

$positions: (
    center: center,
    left: left,
    right: right,
    around: space-around,
    between: space-between,
    evenly: space-evenly,
);

$sizing: (
    sm: 12px,
    md: 16px,
    lg: 20px,
    xl: 24px,
    xxl: 32px,
);
